@model IEnumerable<SAT.DATA.EF.Models.StudentStatus>

@{
    ViewData["Title"] = "Index";
}

<h1>Student Status</h1>

<div class="m-3">
    <h1 class="p-4">Student Status</h1>

    <div class="d-flex align-items-end flex-column px-3">
        <p>
            <a asp-action="Create" class="btn btn-primary">Add +</a>
        </p>

    <div class="row gx-0 gy-x">
        <div class="col-2 align-items-center d-flex flex-row-reverse fs-4">
            <a asp-action="Index" asp-controller="StudentStatus"><i class="bi bi-list-ul fw-light"></i></a>
            <a asp-action="Tiled" asp-controller="StudentStatus"><i class="bi bi-grid-3x3-gap text-primary fw-boldt"></i></a>
        </div>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ssname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ssdescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ssname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ssdescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ssid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ssid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ssid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
